variable aiven_api_token {
	type = string
	default = "<YOUR API TOKEN>"	
	description = "Aiven authentication token"
}

variable aiven_project_name {
	type = string
	default = "<YOUR AIVEN PROJECT>"	
	description = "Aiven project for resource creation"
}

variable aiven_cloud { 
	type = string
	default = "aws-ap-southeast-2"
	description = "Cloud region for Aiven resources"
}

variable service_prefix {
	type = string
	default = "e2e-cdc-"
	description = "String prefix for service names" 
}
variable pg_plan {
	type = string
	default = "startup-4"
	description = "The Aiven postgres plan to create"
} 
variable kafka_plan {
	type = string
	default = "business-4"
	description = "The Aiven Kafka plan to create"
} 
variable kc_plan {
	type = string
	default = "startup-4"
	description = "The Aiven Kafka Connect plan to create"
} 
variable ch_plan {
	type = string
	default = "hobbyist"
	description = "The Aiven Clickhouse plan to create"
} 
variable m3_plan {
	type = string
	default = "startup-8"
	description = "The Aiven Clickhouse plan to create"
} 
variable grafana_plan {
	type = string
	default = "startup-1"
	description = "The Aiven Clickhouse plan to create"
} 
